<h1>Problems</h1>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Tags</th>
  </thead>
  <tbody>
    <% @problems.each do |p| %>
      <tr>
        <td><%= link_to p.name, p.link %></td>
        <td><%= p.csv_tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>
